<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="TopMost" value="True" />
        <add key="Client_Count" value="2" />
        <add key="Client_0" value="0,0,1024,768,22,1" />
        <add key="Client_1" value="1030,0,800,600,22,1" />
    </appSettings>
</configuration>